header {
    background-color:salmon;
    text-align: center;
    padding: 50px;
    grid-area: header;
    border: solid 3px rgb(239, 197, 192);
    height: auto;
}

h1 {
    font-family: 'rubik', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    color:brown
}

a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: black
}

.nav {
    grid-area: nav;
}


ul.navegador {
    background-color: rgb(247, 182, 175);
    margin: 0;
    border-style: solid;
    border-color: rgb(249, 228, 225);
    grid-area: navegador;
}

.section{
    grid-area: section;
    background-color: antiquewhite;
}

p {
    font-family: 'rubik', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}


footer {
    background-color: lightskyblue;
    padding: 40px 0 ;
    grid-area: footer;
    border: solid 3px rgb(199, 231, 250);
}

footer div {
    display: inline;
    padding-left: 50px;
}

.inicio {
    text-align: right;
    padding-right: 50px;
    padding-left: 900px;
}

img.consultorio, iframe.consultorio {
    padding: 20px;
}

a.explab:link {
    color: rgb(112, 112, 199);   
}

a.explab:visited {
    color: blue;
}

a.explab:hover {
    color:rgb(0, 170, 170);
}

a.explab:active {
    color: aqua;
}

.propaganda {
    border: 1px black dotted;
    grid-area: propaganda;
    height: 100px;
}

.contenedor {
    width: 100%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: repeat (4, 1fr);
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "section section propaganda"
                         "footer footer footer";

}

@media screen and (max-width: 768px) {
    .contenedor {
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "section section section"
                         "propaganda propaganda propaganda"
                         "footer footer footer";
    }
}