header {
    background-color:rgb(247, 152, 141);
    text-align: center;
    padding: 30px;
    grid-area: header;
    border: solid 3px rgb(239, 197, 192);
}

h1 {
    font-family: 'rubik', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    color:brown
}

h3 {text-align: center;}

a { font-size:20px;
    padding: 5px;
    text-decoration: none;
    color: rgb(210, 60, 60);
}

a.menu:hover {color: black;transition-duration: .5s;}
a.menu:active {color:rgb(112, 112, 199);}

.nav {
    grid-area: nav;
}

.navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(247, 182, 175);
    margin: 0px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(249, 228, 225);
    grid-area: navegador;
}

.section {
    grid-area: section;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
    font-family: 'rubik', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

li {font-family: 'rubik', sans-serif, Verdana, Geneva, Tahoma, sans-serif; padding: 5px;}

.propaganda {
    grid-area: propaganda;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.propaganda1 {width: 300px;margin: 5px;}

p {
    font-family: 'rubik', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    background-color: lightskyblue;
    padding: 20px;
    grid-area: footer;
    border: solid 3px rgb(199, 231, 250);
    height: 50px;
    display: flex;
    justify-content: center;
}

.inicio {
    text-align: right;
    padding-right: 50px;
    padding-left: 900px;
}

img.consultorio, iframe.consultorio {
    padding: 20px;
}

a.explab:link {color: rgb(112, 112, 199);}
a.explab:visited {color: blue;}
a.explab:hover {color:rgb(0, 170, 170);}
a.explab:active {color: aqua;}
a.explab {font-size: 16px;}

.nav {text-decoration: none;}


.consultorio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.consultorio img {padding: 20px 40px;}

.contactos {font-size: 20px;padding: 10px;list-style: none;display: flex;}
.contactos img {padding: 0 10px;}
textarea {height: 100px; width: 450px;}
input {width: 300px;}

.contenedor {
    width: auto;
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header header header header header"
                         "nav nav nav nav nav"
                         "section section section section propaganda"
                         "footer footer footer footer footer";
}

@media screen and (min-width: 1200px) {
    .contenedor2 {
        width: auto;
        margin: 10px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "header"
                            "nav"
                            "section"
                            "footer";}
    }


@media screen and (max-width: 768px) {
    .contenedor {
    margin: 0px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header"
                         "nav"
                         "section"
                         "propaganda"
                         "footer";
    }
    .propaganda {display: flex;justify-content: center;margin: 10px;}
    .consultorio {display:flex;flex-direction: column;justify-content: space-between; align-items: center;}
    .navegador {display:flex;flex-direction: row; flex-wrap: wrap;}
    .consultorio img {padding: 20px; width: 300px;height: 200px;}
    .section.contactos {display: flex; flex-direction:column; justify-content: center;}
    textarea {height: 100px; width: 180px;}
    input {width: 200px;}
}

